:root {
  --mainFont: "Oswald", sans-serif;
  --secFont: "Roboto Condensed", sans-serif;
  --othFont: "Playfair Display", sans-serif;

  --lightroyalblue: rgb(149, 168, 223);
  --backblue: rgb(59, 60, 78);
  --background: rgb(14, 12, 56);
  --back2: #201e60;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #fff;
}
/*
--------------------------------------------------------

Navbar Start 

--------------------------------------------------------
*/

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60px;
  height: 100vh;
  background-color: var(--backblue);
  position: fixed;
  right: 0px;
}
nav .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bars {
  height: 30px;
  transform: rotate(90deg);
}

.bar {
  background: #fff;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -1.2s linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 10px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 20px;
  animation-duration: 407ms;
}
nav ul {
  display: flex;
  padding: 20px 0px;
  flex-wrap: wrap;
  align-content: space-around;
  min-height: 50%;
}
nav li {
  cursor: pointer;
  list-style: none;
  padding: 10px;
  color: white;
  flex-grow: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  transform: rotate(90deg);
  background-color: rgb(75, 76, 99);
  font-family: var(--mainFont);
  text-align: center;
}

/*
--------------------------------------------------------

About Start

    

--------------------------------------------------------
*/
.about {
  font-family: var(--secFont);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  background-image: linear-gradient(
      rgba(32, 30, 96, 0.8),
      rgba(32, 30, 96, 0.8)
    ),
    url("assets/shattered-island.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about img {
  width: 50%;
}
.content {
  width: 40%;
}
.content h1 {
  text-align: center;
  font-size: 5em;
  font-family: var(--mainFont);
}
span {
  color: var(--lightroyalblue);
}
.content p {
  font-size: 1.2em;
  width: 70%;
}
.content ul {
  padding: 20px;
  padding-left: 50px;
  list-style-type: none;
  font-size: 1.2em;
}
.quote {
  font-size: 1.4em;
}

.skillset {
  background-color: var(--background);
  flex-direction: column;
  font-family: var(--secFont);
}
.skillset h1 {
  font-size: 3em;
  margin-top: 50px;
}
.skillset .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons-container {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.icons-container .tools {
  width: 100%;
  flex-wrap: nowrap;
}
.icons-container i {
  border: 1px solid var(--lightroyalblue);
  height: 100px;
  width: 100px;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--lightroyalblue);
  transition: all 0.3s ease;
  margin: 10px;
}
.icons-container i:hover {
  box-shadow: 0px 0px 10px var(--lightroyalblue);
  transform: scale(1.1);
}
.container h1:last-child {
  margin: 0px;
  padding: 0px;
}
