:root {
  --mainFont: "Oswald", sans-serif;
  --secFont: "Roboto Condensed", sans-serif;

  --lightroyalblue: rgb(149, 168, 223);
  --backblue: rgb(59, 60, 78);
  --background: rgb(14, 12, 56);
  --back2: #201e60;
}

/*
--------------------------------------------------------

Projects Start

    
--------------------------------------------------------
*/

.projects {
  font-family: var(--secFont);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  background-image: linear-gradient(
      rgba(32, 30, 96, 0.8),
      rgba(32, 30, 96, 0.8)
    ),
    url("assets/shattered-island.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 5em;
  font-family: var(--mainFont);
}
span {
  color: var(--lightroyalblue);
}
.cards-container {
  height: 80vh;
  overflow: scroll;
  scrollbar-width: 0px;
  overflow-x: hidden;
}
